@import '../assets/styles/body.scss';

.shorts-cotent {
  width: 1440px;
  margin: auto;
  display: flex;
  position: relative;
  .shorts-sidebar {
    text-align: center;
    font-size: 32px;
    color: $font_color;
    width: 300px;
    background-color: rgb(56, 54, 54);
    .shorts-category {
      height: 400px;
      margin-top: 80px;
      li {
        margin: 30px auto;
      }
    }
  }
  .shorts-scroll {
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    .shorts-item__scroll {
      text-align: center;
      position: relative;
      scroll-snap-align: start;
      width: 600px;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      .shorts-item__btn {
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        right: 20px;
        .shorts-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background-color: gray;
          border-radius: 100%;
        }
        .shorts-btn-text {
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }

      &:nth-of-type(1) {
        background: #49b293;
      }

      &:nth-of-type(2) {
        background: #c94e4b;
      }

      &:nth-of-type(3) {
        background: #4cc1be;
      }

      &:nth-of-type(4) {
        background: #8360a6;
      }
    }
  }
  .modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(27, 26, 26, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-video {
      width: 500px;
      height: 600px;
      border: 5px solid black;
      margin-right: 30px;
      margin-top: 50px;
      border-radius: 30px;
      background-color: gray;
    }
    .modal-comment {
      position: relative;
      background-color: white;
      margin-left: 30px;
      margin-bottom: 50px;
      width: 500px;
      height: 600px;
      border: 5px solid black;
      border-radius: 30px;
      .modal-comment-wrapper {
        margin: 30px;
        width: 550px;
        overflow: auto;
      }
      .modal-comment-write {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        input {
          width: 420px;
          height: 40px;
          border-radius: 10px;
        }
        .comment-btn__post {
          @include btn;
          position: absolute;
          width: 50px;
          right: 20px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }

    .modal-btn__close {
      @include btn;
      color: white;
      width: 0;
      background-color: rgb(27, 26, 26);
      position: absolute;
      right: 120px;
      bottom: 80px;
      font-size: 32px;
    }
  }
}
