@import '../assets/styles/scss/body.scss';

.signUp_containerWrap {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 25px;
  position: relative;

  width: 610px;
  height: 648px;

  background: #d7d7d7;
  border-radius: 5px;
  margin: 30px auto;
}

.signUp_email > input {
  width: 380px;
  height: 48px;

  border: 1px solid #b1b1b1;
  border-radius: 5px;
  margin: 20px;
  cursor: text;
}
.signUp_email > button {
  width: 114px;
  height: 48px;

  background: #b3b3b3;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  cursor: pointer;
}

.signUp_id > input {
  width: 380px;
  height: 48px;

  border: 1px solid #b1b1b1;
  border-radius: 5px;
  margin: 20px;
  cursor: text;
}
.signUp_id > button {
  width: 114px;
  height: 48px;

  background: #b3b3b3;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  cursor: pointer;
}

.signUp_pw > input {
  display: flex;
  flex-direction: row;

  width: 510px;
  height: 48px;

  border: 1px solid #b1b1b1;
  border-radius: 5px;
  margin: 20px 20px 35px 20px;
  cursor: text;
}

.signUp_crew {
  margin: 20px;
}

.signUp_label {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 5px;
  cursor: pointer;
}

.signUp_p {
  font-size: 13px;
  color: black;
  margin: 5px 20px;
}

.signUp_btn {
  width: 510px;
  height: 48px;

  background: #b3b3b3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
}
