$font_color: white;
$font_family: 'Noto Sans', sans-serif;
$font_size: 16px;
$point_color: #d10536;

@mixin positonCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 25px;
  background-color: #ffffff;
  margin-left: 10px;
  font-size: 18px;
}

@mixin contentSector {
  width: 1440px;
  margin: auto;
}
* {
  font: {
    color: $font_color;
    family: $font_family;
  }
  body {
    position: relative;
    background-color: black;
    font-size: $font_size;
  }
}
