@import './body.scss';
@import './main.scss';

.eventWrite-content {
  background-color: black;
  position: relative;
  width: 1440px;
  margin: 30px auto;
  @include flexCenter;
}

.eventWrite-showFile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 780px;
  height: 730px;
  background-color: #ececec;
  border-radius: 10px;
  vertical-align: top;
  vertical-align: bottom;
}

.eventWrite-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  height: 730px;
  border-radius: 10px;
  background-color: #ececec;
  margin: 0px 0px 0px 15px;
}

.eventWrite-input {
  margin: 30px 0px 0px 0px;
  width: 450px;
  height: 45px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}

.eventWrite-input-date {
  margin: 30px 0px 0px 0px;
  width: 450px;
  height: 45px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}

.eventWrite-input-time {
  margin: 30px 0px 0px 0px;
  width: 450px;
  height: 45px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}

.eventWrite-input-file {
  margin: 15px 200px 0px 0px;
}

.eventWrite-textatea {
  margin: 20px;
  width: 450px;
  height: 233px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  resize: none;
}

.eventWrite-hr {
  width: 450px;
  border: 0.7px solid #9c9c9c;
  border-radius: 5px;
  margin: 10px;
}

.eventWrite-btn {
  width: 450px;
  height: 45px;
  background: #d10536;
  border-radius: 5px;
  margin: 20px;
  color: #ffffff;
  font-family: 'Noto Sans';
  font-size: 18px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &:hover {
    color: #333333;
  }
}

// .evnetWrite-btn-box {
//   position: absolute;
//   bottom: -70px;
//   left: 50%;
//   transform: translate(-50%, 0);
//   button {
//     @include btn;
//     font-size: 25px;
//     width: 250px;
//   }
// }
