@import './body.scss';
@import './main.scss';
.shorts-sidebar {
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 32px;
  color: $font_color;
  width: 300px;
  height: 100vh;
  background-color: rgb(56, 54, 54);
  .shorts-category {
    cursor: pointer;
    height: 400px;
    margin-top: 80px;
    li {
      margin: 30px auto;
      &:hover {
        background-color: #c94e4b;
      }
    }
  }
}
.feed-shorts-cotent {
  width: 1440px;
  margin: auto;
  display: flex;
  .feed-shorts-scroll {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-40%, 0);
    width: 650px;
    height: 750px;
    border-radius: 10px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    .feed-shorts-item__scroll {
      text-align: center;
      position: relative;
      scroll-snap-align: start;
      width: 650px;
      height: 750px;
      @include flexCenter;
      overflow-x: hidden;
      color: white;
      .feed-image__row {
        width: 650px;
        height: 750px;
        margin-right: 50px;
        border: 3px solid black;
        box-sizing: border-box;
        position: relative;
        .feed-image__carousel {
          @include carouselEle;
          .feed-image__list {
            @include carouselList;
            .feed-image__wrapper {
              height: 750px;
              display: flex;
              align-items: center;
              .feed-image__container {
                width: 650px;
                height: 750px;
              }
            }
          }
        }
        .feed-image__paiging {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 0);
          .carousel-paging__btn {
            cursor: pointer;
            margin-left: 10px;
            background-color: black;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 100%;
            color: black;
          }
        }
      }
      .shorts-item__info {
        position: absolute;
        bottom: 50px;
        left: 20px;
        p {
          text-align: start;
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
      .shorts-item__btn {
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        right: 30px;
        @include flexCenter;
        flex-direction: column;
        .shorts-btn {
          @include flexCenter;
          width: 35px;
          height: 35px;
          background-color: gray;
          border-radius: 100%;
        }
        .shorts-btn-text {
          margin-top: 3px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
