@import './body.scss';

body {
  .header {
    font: {
      size: $font_size;
      family: $font_family;
    }
    color: $font_color;
    display: flex;
    align-items: center;
    height: 140px;
    background-color: black;
    .header_inner {
      display: flex;
      width: 1440px;
      margin: auto;
      .header_logo {
        cursor: pointer;
        flex: 1;
        width: 100px;
        margin-left: 100px;
        font-size: 42px;
        font-weight: 800;
        &:hover {
          color: red;
        }
      }
      .header_btn {
        margin-right: 30px;
        button {
          @include btn;
          color: white;
          background-color: #111;
          margin-top: 30px;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
