@import './body.scss';

body {
  .header {
    font: {
      size: $font_size;
      family: $font_family;
    }
    color: $font_color;
    display: flex;
    align-items: center;
    height: 140px;
    background-color: black;
    .header_inner {
      display: flex;
      width: 1440px;
      margin: auto;
      .header_logo {
        flex: 1;
        width: 50px;
        height: 100px;
        margin-top: 20px;
        .spreet-logo__bg {
          cursor: pointer;
          width: 200px;
          height: 100px;
          background-image: url('../../../../public/Spreet.svg');
          background-repeat: no-repeat;
          background-size: 200px;
        }
        &:hover {
          color: red;
        }
      }
      .header_btn {
        margin-right: 30px;
        position: relative;
        z-index: 2;
        .header-alarm {
          z-index: 1;
          position: absolute;
          border-radius: 5px;
          top: 65px;
          left: 11px;
          width: 300px;
          height: 170px;
          overflow: auto;
          color: black;
          background-color: rgb(255, 255, 254);
          .alarm-item {
            font-size: 18px;
            font-weight: 500;
            .alarm-closebox {
              display: flex;
              align-items: center;
              .alarm-close {
                font-size: 18px;
                color: black;
                background-color: white;
                margin: 0 0 0 20px;
                letter-spacing: 0;
                &:hover {
                  color: #d10536;
                }
              }
            }
          }
        }
        .alarm-triangle {
          position: absolute;
          top: 35px;
          width: 0px;
          height: 0px;
          left: 10px;
          z-index: -999;
          border-bottom: 25px solid white;
          border-right: 15px solid transparent;
          border-top: 15px solid transparent;
          border-left: 15px solid transparent;
        }
        button {
          letter-spacing: 3px;
          @include btn;
          width: auto;
          font-weight: 600;
          color: white;
          background-color: black;
          margin-top: 30px;
          margin-right: 15px;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
