@import './body.scss';

//소셜로그인 버튼 로고 크기에 맞게 버튼 사이즈 줄이기

.login-containerWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 50px;
  width: 586px;
  height: 485px;
  background: #eaeafe;
  border-radius: 5px;
  margin: 100px auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.login-form > input {
  width: 486px;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(97, 99, 254, 0.8);
  border-radius: 5px;
  margin: 20px;
}

.login-btn {
  width: 486px;
  height: 48px;
  background-color: #6163fe;
  border-radius: 5px;
  border: none;
  margin: 20px;
  color: #dfe0ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.login-signup-btn {
  width: 486px;
  height: 48px;
  background-color: #6163fe;
  border-radius: 5px;
  border: none;
  color: #dfe0ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
  font-size: 17px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.login-social-btn {
  display: flex;
}

.login-social-btn > button {
  width: 235px;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.login-p {
  width: 480px;
  font-size: 12px;
  color: rgba(97, 99, 254, 0.8);
  margin: 3px;
}

.login-hr {
  width: 486px;
  border: 0.5px solid rgba(97, 99, 254, 0.8);
  margin: 10px;
}
.login-kakao {
  background-image: url('../../../../public/kakao.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &:hover {
    border: solid 2px #6163fe;
  }
}

.login-naver {
  background-image: url('../../../../public/naver.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &:hover {
    border: solid 2px #6163fe;
  }
}
