@import './body.scss';

@mixin carouselBtn {
  @include btn;
  cursor: pointer;
  width: 60px;
  height: 200px;
  font-size: 100px;
  color: #000000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin carouselEle {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@mixin carouselList {
  width: 100%;
  display: flex;
  transform: translate();
  transition: transform 0.5s ease-in-out;
}

@mixin carouselLeftBtn {
  left: 0;
}
@mixin carouselRighttBtn {
  right: 0;
  margin: 0;
}

.spreet-row {
  margin: auto;
  height: 500px;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  .spreet-row__button {
    @include carouselBtn;
    &.btn--right {
      @include carouselRighttBtn;
    }

    &.btn--left {
      @include carouselLeftBtn;
    }
  }
  .spreet-row__carousel {
    @include carouselEle;
    .spreet-row__list {
      @include carouselList;
      .spreet-item-wrapper {
        display: flex;
        .spreet-item__container {
          width: 1440px;
          height: 500px;
          border: 5px solid gray;
        }
      }
    }
  }
  .spreet-row__paiging {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    .carousel-paging__btn {
      cursor: pointer;
      margin-left: 10px;
      background-color: black;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 100%;
      color: black;
    }
  }
}

.main-content {
  @include contentSector;
  .main-inner {
    margin: 50px;
    height: 800px;
    background-color: #373636;
    .rap-row {
      height: 300px;
      position: relative;
      border: 1px solid black;
      box-sizing: border-box;
      .rap-row__carousel {
        @include carouselEle;
        background-color: gray;
        .rap-row__button {
          @include carouselBtn();
          &.btn--right {
            @include carouselRighttBtn;
          }

          &.btn--left {
            @include carouselLeftBtn;
          }
        }
        .rap-row__list {
          @include carouselList;
          .rap-item__wrapper {
            display: flex;
            .rap-item__container {
              width: 250px;
              height: 250px;
              margin-left: 20px;
              border: 3px solid yellow;
            }
          }
        }
      }
    }
    .feed-content {
      margin-top: 100px;
      .feed-wrapper {
        color: white;
        text-align: center;
        font-size: 32px;
        overflow: auto;
        height: 400px;
        h1 {
          opacity: 0.3;
        }
      }
    }
  }
}
