@import './body.scss';
@import './shorts.scss';

@mixin carouselBtn {
  @include btn;
  cursor: pointer;
  background-color: inherit;
  width: 60px;
  height: 100px;
  font-size: 100px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin carouselEle {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@mixin carouselList {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate();
  transition: transform 0.5s ease-in-out;
}

@mixin carouselLeftBtn {
  left: 40px;
  pointer-events: visible;
}
@mixin carouselRighttBtn {
  right: 0px;
  margin: 0;
  pointer-events: visible;
}

.mainsector {
  width: 1440px;
  position: relative;
  margin: auto;
  .spreet-row {
    height: 650px;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    .spreet-row__button {
      @include carouselBtn;
      &.btn--right {
        object-fit: cover;
        @include carouselRighttBtn;
      }

      &.btn--left {
        object-fit: cover;
        @include carouselLeftBtn;
        left: 0;
      }
    }
    .spreet-row__carousel {
      @include carouselEle;
      width: 1440px;
      .spreet-row__list {
        @include carouselList;

        .spreet-item-wrapper {
          display: flex;

          .spreet-item__container {
            width: 1440px;
            height: 660px;
            border: 5px solid gray;
          }
        }
      }
    }
    .spreet-row__paiging {
      position: absolute;
      left: 50%;
      bottom: 10vh;
      transform: translate(-50%, 0);
      .carousel-paging__btn {
        cursor: pointer;
        margin-left: 10px;
        background-color: black;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 100%;
        color: black;
      }
    }
  }

  .main-content {
    @include contentSector;
    background-color: #111;
    .main-inner {
      // background-color: #373636;
      .slide-row {
        position: relative;
        box-sizing: border-box;
        .slide-row__carousel {
          @include carouselEle;
          .slide-row__button {
            @include carouselBtn();
            &.btn--right {
              // color: gray;
              object-fit: contain;
              @include carouselRighttBtn;
            }
            &.btn--left {
              // color: black;
              object-fit: contain;
              @include carouselLeftBtn;
            }
          }
          .slide-item__title {
            position: absolute;
            top: 5px;
            left: 50px;
            font-size: 32px;
            color: white;
          }
          .slide-item__list {
            @include carouselList;
            .slide-item__wrapper {
              height: 700px;
              display: flex;
              align-items: center;
              .slide-item__container {
                position: relative;
                width: 400px;
                height: 500px;
                margin-left: 50px;

                .slide-item__bg {
                  position: absolute;
                  width: 400px;
                  height: 500px;
                  z-index: 1;
                  opacity: 0.1;
                  background-color: gray;
                  pointer-events: none;
                }
                .slide-item__shorts-title {
                  color: white;
                  margin-top: 10px;
                  margin-bottom: 50px;
                  pointer-events: none;
                  p {
                    margin-top: 20px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    font-size: 20px;
                  }
                  .user-profile {
                    display: flex;
                    align-items: center;
                    .user-image {
                      @include user-image;
                      margin-left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .feed-content {
        cursor: pointer;
        margin-top: 100px;
        .feed-wrapper {
          color: #6163fe;
          text-align: center;
          font-size: 42px;
          overflow: auto;
          height: 400px;
          h1 {
            opacity: 0.3;
          }
        }
      }
    }
  }
}
