@import './body.scss';

.mypage-sidebar {
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 32px;
  color: $font_color;
  width: 300px;
  height: 100vh;
  background-color: rgb(56, 54, 54);
  .mypage-category {
    cursor: pointer;
    height: 400px;
    margin-top: 80px;
    li {
      margin: 150px auto;
      &:hover {
        background-color: #c94e4b;
      }
    }
  }
}

.mypage-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  width: 600px;
  height: 880px;

  background: #d7d7d7;
  border-radius: 5px;
  margin: auto;
}
