@import './body.scss';

.shorts-cotent {
  width: 1440px;
  margin: auto;
  display: flex;
  position: relative;
  .shorts-sidebar {
    text-align: center;
    font-size: 32px;
    color: $font_color;
    width: 300px;
    background-color: rgb(56, 54, 54);
    .shorts-category {
      cursor: pointer;
      height: 400px;
      margin-top: 80px;
      li {
        margin: 30px auto;
        &:hover {
          background-color: #c94e4b;
        }
      }
    }
  }
  .shorts-scroll {
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    .shorts-item__scroll {
      text-align: center;
      position: relative;
      scroll-snap-align: start;
      width: 600px;
      height: 600px;
      @include flexCenter;
      color: white;
      .shorts-item__btn {
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        right: 20px;
        .shorts-btn {
          @include flexCenter;
          width: 40px;
          height: 40px;
          background-color: gray;
          border-radius: 100%;
        }
        .shorts-btn-text {
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }

      &:nth-of-type(1) {
        background: #49b293;
      }

      &:nth-of-type(2) {
        background: #c94e4b;
      }

      &:nth-of-type(3) {
        background: #4cc1be;
      }

      &:nth-of-type(4) {
        background: #8360a6;
      }
    }
  }
}
