@import './body.scss';

@mixin shorts-item__info {
  position: absolute;
  bottom: 50px;
  left: 5px;
  pointer-events: none;
  p {
    text-align: start;
    font-size: 20px;
    margin-bottom: 15px;
    &:last-child {
      margin-top: 10px;
    }
  }
}

@mixin sort-btn {
  position: absolute;
  right: 15%;
  button {
    width: 100px;
    height: 30px;
    background: #d10536;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin: 10px 15px;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

@mixin user-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin user-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 5px;
  margin-left: 10px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.shorts-sidebar {
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 24px;
  color: $font_color;
  width: 300px;
  height: 100vh;

  .shorts-category {
    cursor: pointer;
    height: 400px;
    margin-top: 80px;
    li {
      margin: 50px auto;
      &:hover {
        background-color: $point_color;
      }
    }
  }
}
.shorts-cotent {
  display: flex;
  position: relative;
  // height: 100vh;
  .shorts-sortbtn {
    @include sort-btn;
  }
  .shorts-scroll {
    position: absolute;
    left: 55%;
    margin-top: 5%;
    transform: translate(-50%, 0);
    width: 550px;
    height: 650px;
    border-radius: 15px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
    .shorts-item__scroll {
      text-align: center;
      position: relative;
      scroll-snap-align: start;
      width: 550px;
      height: 650px;
      border-radius: 15px;
      @include flexCenter;
      color: white;
      .shorts-item__info {
        @include shorts-item__info;
        .user-profile {
          @include user-profile;
          .user-image {
            @include user-image;
          }
        }
        .user-like {
          width: 50px;
          font-size: 24px;
          margin-top: 8px;
          .user-like__heart {
            color: $point_color;
          }
        }
      }
      .shorts-item__btn {
        cursor: pointer;
        position: absolute;
        bottom: 80px;
        right: 30px;
        @include flexCenter;
        flex-direction: column;
        .shorts-btn {
          @include flexCenter;
          width: 35px;
          height: 35px;
          background-color: gray;
          border-radius: 100%;
          &:hover {
            color: $point_color;
          }
        }
        .shorts-btn-text {
          margin-top: 3px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
