@import './body.scss';

.shorts-sidebar {
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 32px;
  color: $font_color;
  width: 300px;
  height: 100vh;
  background-color: rgb(56, 54, 54);
  .shorts-category {
    cursor: pointer;
    height: 400px;
    margin-top: 80px;
    li {
      margin: 30px auto;
      &:hover {
        background-color: #c94e4b;
      }
    }
  }
}
.shorts-cotent {
  width: 1440px;
  margin: auto;
  display: flex;
  position: relative;
  .shorts-scroll {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-40%, 0);
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    .shorts-item__scroll {
      text-align: center;
      position: relative;
      scroll-snap-align: start;
      width: 600px;
      height: 600px;
      @include flexCenter;
      color: white;
      .shorts-item__info {
        position: absolute;
        bottom: 20px;
        left: 20px;
        p {
          text-align: start;
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
      .shorts-item__btn {
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        right: 20px;
        .shorts-btn {
          @include flexCenter;
          width: 40px;
          height: 40px;
          background-color: gray;
          border-radius: 100%;
        }
        .shorts-btn-text {
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
