@import './body.scss';
@import './main.scss';
.write-content {
  position: relative;
  width: 1440px;
  margin: 50px auto;
  @include flexCenter;
  .write-checkFeed {
    position: absolute;
    top: -50px;
    right: 20px;
    width: 200px;
    input[type='checkbox'] {
      width: 30px;
      height: 30px;
    }
    label {
      font-size: 20px;
    }
  }
  .feed-image__row {
    width: 600px;
    height: 600px;
    margin-right: 50px;
    border: 3px solid black;
    box-sizing: border-box;
    position: relative;
    .feed-image__carousel {
      @include carouselEle;
      .feed-image__list {
        @include carouselList;
        .feed-image__wrapper {
          height: 600px;
          display: flex;
          align-items: center;
          .feed-image__container {
            width: 600px;
            height: 600px;
          }
        }
      }
    }
    .feed-image__paiging {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      .carousel-paging__btn {
        cursor: pointer;
        margin-left: 10px;
        background-color: black;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 100%;
        color: black;
      }
    }
  }

  .write-showFile-box {
    width: 600px;
    height: 600px;
    margin-right: 50px;
    border: 3px solid black;
  }
  .write-inform-box {
    width: 400px;
    height: 600px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .write-category {
      width: 200px;
      height: 30px;
      margin-left: 15px;
    }
    p {
      font-size: 32px;
      margin: 15px;
    }
    input {
      margin-left: 15px;
      margin-bottom: 10px;
    }
    .title-input {
      height: 30px;
      width: 350px;
    }
    textarea {
      margin-left: 15px;
      font-size: 22px;
      width: 350px;
      height: 250px;
      resize: none;
    }
  }
  .write-btn-box {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, 0);
    button {
      @include btn;
      font-size: 32px;
      width: 250px;
    }
    .write-btn__goback {
      margin-left: 50px;
    }
  }
}
